**/.vs/**
**/.vscode/
/output/**
/packaged_output
/result*
/test_output
**/ipch/**
/Assets/dll/*.wbx
Backup/
UpgradeLog.htm

*.ilk
*.il
*.tlog
*.obj
*.o
*.gcda
*.filters
*.opendb

/Dist/*.zip
/Dist/git_hooks/*.local.ps1

# mupen64plus-win32-deps is a submodule, so ignores should be in that repo
/libmupen64plus/mupen64plus-win32-deps/SDL-1.2.14/docs
/libmupen64plus/mupen64plus-win32-deps/SDL-1.2.14/docs.html

*.opensdf
*.user
*.suo
*.sdf
*.ipch
*.pdb
.hg
.hgignore
.hgtags

/psx/octoshock/bizhawk/Win32
/psx/octoshock/bizhawk/x64
/psx/octoshock/bizhawk/*.opendb

**/StyleCop.Cache
/waterbox/**/*.wbx
/waterbox/**/*.wbx.in

.idea

/packages

/Dist/prism-build/
/Assets/dll/libprism.so
/Assets/Prism/

launchSettings.json

/Dist/accessibility-build/
/Assets/LinuxAccessibility/
/Assets/dll/UIAutomation*.dll
/Assets/dll/UiaAtkBridge.dll*
/Assets/dll/*Sharp.dll
/Assets/dll/libbridge-glue.so
/Dist/LinuxAccessibility/tests/__pycache__/
